body {
    background: linear-gradient(125deg, rgb(54, 81, 217), rgb(207, 56, 148));
    margin: 0;
    margin-left: 2%;
    margin-right: 2%;
    min-height: 100vh;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: cornsilk 0 0 10px;
}

.t1 {
    text-align: justify;
    color: cornsilk;
    letter-spacing: 2px;
    font-size: 22px;
}

.plain {
    width: 100%;
    margin: 0;
}

#but {
    color: cornsilk;
    padding: 10px;
    font-size: 25px;
    border-radius: 12px;
}
#but:hover{
    color: coral;
    background-color:darkviolet;
}

.but1 {
    background-color: darkcyan;
}

.but2 {
    background-color: crimson;
    margin-left: 5%;
}

p {
    text-align: justify;
    color: cornsilk;
    font-size: 20px;
}
a{
    color: cornsilk;
    text-decoration: inherit;
}
a:hover{
    color: coral;
}
