* {
    box-sizing: border-box;
    overflow: auto;
}

body {
    margin: 0px;
}

article {
    background: yellow;
    padding: 30px;
    border-radius: 25px 60px;
    box-shadow: 2px 5px 10px grey;
    border: 1px solid red;
    margin: 20px auto;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

div {
    text-align: justify;
}

.container {
    width: 70vw;
    min-width: 400px;
    margin: 0 auto;
    max-width: 960px;
}
